@font-face {
  font-family: "iconfont"; /* Project id 3996425 */
  src: url('iconfont.woff2?t=1681289965128') format('woff2'),
       url('iconfont.woff?t=1681289965128') format('woff'),
       url('iconfont.ttf?t=1681289965128') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-select:before {
  content: "\eb95";
}

.icon-suo:before {
  content: "\e652";
}

.icon-xiangyouxuanzhuan:before {
  content: "\e66a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shangyi:before {
  content: "\e7b5";
}

.icon-xiayi:before {
  content: "\e7b6";
}

.icon-zhixian:before {
  content: "\ee43";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb99";
}

.icon-kongwujiaoxing:before {
  content: "\eb9a";
}

.icon-juxing:before {
  content: "\e790";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-button:before {
  content: "\e605";
}

.icon-wenben:before {
  content: "\e854";
}

.icon-biaoge:before {
  content: "\e622";
}

.icon-json:before {
  content: "\e623";
}

.icon-wenjianshangchuan:before {
  content: "\e624";
}

.icon-check-box:before {
  content: "\e625";
}

.icon-switch:before {
  content: "\e626";
}

.icon-tupian:before {
  content: "\e627";
}

.icon-radio:before {
  content: "\e629";
}

.icon-yulan:before {
  content: "\e62b";
}

.icon-shurukuang:before {
  content: "\eb94";
}

.icon-chexiao:before {
  content: "\eb73";
}

.icon-guanbi:before {
  content: "\eb76";
}

.icon-chongzuo:before {
  content: "\e604";
}

